-#= link_to 'Articles', controller: 'articles'
.container-fluid
  .row{style: "padding-top:50px;"}
  .row
    %p.text-center
      %strong{style:"font-size: 40px; font-weight:bolder; vertical-align:middle;"} Number of Sales Last 30 Days
  .row
    .col-sm-1
    .col-sm-10
      #chart_div{style: "height:400px; box-shadow: 0px 0px 6px grey;"}
    .col-sm-1
%script{:src => "https://www.google.com/jsapi?autoload={\n            'modules':[{\n              'name':'visualization',\n              'version':'1',\n              'packages':['corechart']\n            }]\n          }", :type => "text/javascript"}
:javascript
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          ['11/1',   1],
          ['11/5',   2],
          ['11/10',  1],
          ['11/15',  3],
          ['11/20',  2],
          ['11/25',  1],
          ['11/30',  0]
        ]);

        var options = {
          curveType: 'function',
          vAxis: {
            format: '#',
            viewWindow:{
              min:0
            }
          },
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);

      }
